.login
	display flex
	min-height 100vh
	flex-direction column
	background #fff
	flex 1 0 auto
	
	button
		border-radius 100px

	.input-field input[type=date]:focus + label,
	.input-field input[type=text]:focus + label,
	.input-field input[type=email]:focus + label,
	.input-field input[type=password]:focus + label
		color #ff9800

	.input-field input[type=date]:focus,
	.input-field input[type=text]:focus,
	.input-field input[type=email]:focus,
	.input-field input[type=password]:focus
		border-bottom 2px solid #ff9800
		box-shadow none