template(name='cashier')
  .cashier
    .row
      .col.s12.m5
        .row
          .col.s12
            .actions
              .row
                .col.s8
                  h4 12
                    small.left 当前台号:
                  p 状态： 空闲
                  p 款项： 未支付
                  p 人数： 4人
                  p 其他信息
                .col.s4
                  .action-group.right
                    button.waves-effect.waves-light.btn 预定
                    button.waves-effect.waves-light.btn 开台
                    button.waves-effect.waves-light.btn 打印
                    button.waves-effect.waves-light.btn 结账
          .col.s12
            .tables
              .row
                .col.s4.center
                  button.table.waves-effect.waves-light.btn.btn-flat 12
                .col.s4.center
                  button.table.waves-effect.waves-light.btn.btn-flat 12
                .col.s4.center
                  button.table.waves-effect.waves-light.btn.btn-flat 12
                .col.s4.center
                  button.table.waves-effect.waves-light.btn.btn-flat.selected 12
                .col.s4.center
                  button.table.waves-effect.waves-light.btn.btn-flat 12
                .col.s4.center
                  button.table.waves-effect.waves-light.btn.btn-flat 12
                .col.s4.center
                  button.table.waves-effect.waves-light.btn.btn-flat 12
                .col.s4.center
                  button.table.waves-effect.waves-light.btn.btn-flat 12
                .col.s4.center
                  button.table.waves-effect.waves-light.btn.btn-flat 12
      .col.s12.m7
        .order
          h5.center 循环牛餐厅
          small.right 时间日期: 2017.3.1 14:35
          br
          small.right 台号 #1
          br
          small.right 服务员 #123
          br
          br
          table.centered.highlight
            thead
              tr
                th 菜名
                th 数量
                th 单价
            tbody
              tr
                td 炒随便什么鸡
                td 1
                td 20
              tr
                td 炒随便什么鸡
                td 1
                td 20
              tr
                td 炒随便什么鸡
                td 1
                td 20
              tr
                td 炒随便什么鸡
                td 1
                td 20
              tr
                td 炒随便什么鸡
                td 1
                td 20
              tr
                td 炒随便什么鸡
                td 1
                td 20
              tr
                td 炒随便什么鸡
                td 1
                td 20
              tr
                td 炒随便什么鸡
                td 1
                td 20
              tr
                td
                td
                td
              tr
                td -
                td -
                td
                  h5 总价
                  hr
                  h4 300
                  