.waiter_layout
  img
    width 200px
    vertical-align middle

  #check_order
    border-radius 100px

  .panel
    transition 0.5s

  #selected_table
    text-align center
    font-size 32px

  #table_modal
    a
      margin 15px
      border-radius 100px

  .slide_panel
    height 100%
    width 0
    position fixed
    z-index 1
    top 0
    right 0
    overflow-x hidden
    padding-top 60px
    transition 0.5s
    box-shadow -150px 0px 300px #e0e0e0
    background-color white

  .order
    padding 30px

    td
      vertical-align middle