.admin_tables
	margin-top 40px
	margin-left 30px
	margin-right 30px

	.tables
	
	.tables:after
		content ''
		display block
		clear both

	.table
		float left

		.actions
			position relative
			top 25px
			left -20px

			a
				margin-right 0
				background-color rgba(150, 150, 150, 0.65)
				transform scale(0.8)

			a:hover
				transform scale(1.2)


	.card
		transition all .2s ease-in-out

		.card-content
			transition all .2s ease-in-out

			input
				text-align center

			.large
				font-size 150%

			span
				position absolute
				bottom 15px
				right 15px

			a
				display block

			.chip
				margin 2px
				
				a
					color black

	.card:hover
		transform scale(1.05)

		.card-content
			transform scale(1.1)

	.fixed-action-btn
			transform scale(1.2)